<div class="row">
    <div class="col-md-6 col-md-offset-2 panel {{gamePanelClass value.winner}}">
        <div class="panel-heading">
            <h2><a href="/games/{{id}}">
            {{#with value}}
            {{name}}</a></h2>
        </div>
        <div class="panel-body">
            <b>Length:</b> {{length}} days</br>
            <b>Winner:</b> {{winner}}<br>
            <b>Players:</b> {{players}}<br>
            {{/with}}
        </div>
    </div>
</div>